.card {
  background: var(--color-bg-secondary);
  width: 20rem;
  height: fit-content;
}

.actions {
  margin: 0.625rem;
  margin-bottom: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
