.card {
  background: var(--color-bg-secondary);
  width: 20rem;

  min-height: 20vh;
  max-height: 75vh;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.actions {
  margin: 0.625rem;
  margin-bottom: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cards {
  flex: 1;
  overflow-y: auto;
}
