.card {
  // background value set using inline jsx styles

  min-height: 14rem;
  width: 18rem;

  display: flex;
  flex-direction: column;
}

.title {
  flex: 1;
  max-height: 70%;
  color: var(--color-white);

  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
