.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-neutral-70);
  z-index: 9999;
  animation: fade-in 0.2s ease-in-out;
}

.closeIcon {
  position: absolute;

  right: 2rem;
  top: 2rem;

  width: fit-content;

  font-size: 1.2rem;
  text-align: center;
  transition: 0.2s;

  &:hover {
    font-size: 1.6rem;
  }
}

.isTransparent {
  background-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
