.container {
  width: 100%;
  margin: 0.5rem auto 0.25rem auto;
}

.form {
  display: flex;
  flex-direction: column;

  textarea {
    height: 6rem;
    resize: none;
  }
  span {
    text-align: right;
    margin-bottom: 0.5rem;
  }
}

.group {
  display: flex;
  margin-bottom: 0.5rem;
}
