.container {
  width: 90%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;

  textarea {
    height: 6rem;
    resize: none;
  }
}

.group {
  display: flex;
}
