.card {
  color: var(--color-text);
  background-color: var(--color-bg-primary);
  display: flex;
  justify-content: space-between;
  position: relative;

  cursor: pointer;

  &:hover:not(.isEditable) {
    opacity: 0.7;
    .menu {
      opacity: 1;
    }
  }
}

.isEditable {
  height: 12.9rem;
  .menu {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  font-size: 1.2rem;

  opacity: 0;

  transition: opacity 0.2s;
}

.content {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  word-break: break-word;
}
