html,
body {
  box-sizing: border-box;
  background-color: var(--color-bg-primary);
}

a,
a:link,
a:visited {
  text-decoration: none;
}

// TYPOGRAPHY

html,
body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100px;
  background: var(--color-scroll-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--color-scroll-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-hover);
}
