html,
body {
  box-sizing: border-box;
  background-color: var(--color-bg-primary);
}

a,
a:link,
a:visited {
  text-decoration: none;
}

// TYPOGRAPHY

html,
body {
  font-family: 'Roboto', sans-serif;
}
