:root {
  --color-primary: #3344ff;
  --color-primary-hover: #1523c5;

  --color-secondary: #ff9633;
  --color-secondary-hover: #ca7627;

  --color-text: #232425;
  --color-text-inverted: #ececec;

  --color-border: #b8b8b8;

  --color-bg-primary: #dcdcdc;
  --color-bg-secondary: #437ff7;

  --color-info: #6673ff;
  --color-info-hover: #404dd6;
  --color-success: #559c35;
  --color-success-hover: #317014;
  --color-warning: #ecb726;
  --color-warning-hover: #a88217;
  --color-danger: #b62d2d;
  --color-danger-hover: #910b0b;
}

@import "reset";
@import "utilities";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}
