.form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;

  background-color: var(--color-bg-primary);
  padding: 1rem;
  border-radius: 5px;

  width: 15rem;

  position: absolute;

  label {
    align-self: flex-start;
  }

  textarea {
    height: 6rem;
    resize: none;
  }

  span {
    align-self: flex-end;
    margin-bottom: 0.75rem;
  }
}
