.form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;

  label {
    align-self: flex-start;
  }

  textarea {
    height: 6rem;
    resize: none;
  }

  span {
    align-self: flex-end;
    margin-bottom: 0.75rem;
  }
}
